.layout {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.total-price {
  text-align: right;
  margin-right: 50px;
  margin-bottom: 20px;
  margin-top: 1rem;
  font-size: 20px;
}
.logout{
  padding: 12px;
  background-color: lightblue;
  border: none;
  border-radius: 10px;
}
.logout:hover{
  background-color: rgb(182, 182, 100);
}